.index-header {
    background-color: teal;
}
.index-body {
    text-align: center;
    background-color: lightblue;
}
.index-footer {
    background-color: aquamarine;
}
body {
    font-family: robotomono, garamond, sans-serif;
}
header #my-name {
    font-family: playwright, times new roman, sans-serif;
}
a img {
    border: 6px orange solid;
}